/* @font-face {
  font-family: 'fontAwasome';
  src:  url('./fontawesome-webfont.woff') format('woff2'),
        url('./fontawesome-webfont.woff2') format('woff');
  font-weight: 600;
  font-style: normal;
} */

.hello {
    color: blue;
    /* background: url('./icon.png');
    font-family: 'fontAwasome'; */
  }